.catalog-categories {
	padding-top: 75px;
	padding-bottom: 100px;
	@media (max-width: 1920px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.category-item {
		margin-bottom: 45px;
		min-height: 600px;
		@media (max-width: 1920px) {
			min-height: 500px;
		}
		@media (max-width: 1699px) {
			margin-bottom: 35px;
		}
		@media (max-width: 1499px) {
			margin-bottom: 25px;
		}
		> .content {
			display: flex;
			background-color: #dad6d6;
			height: 100%;
			overflow: hidden;
			position: relative;
			&::after,
			&::before {
				position: absolute;
				content: "";
				background-size: contain;
				background-image: url("../img/finger_light.png");
				background-repeat: no-repeat;
				width: 620px;
				height: 308px;
				z-index: 1;
				@media (max-width: 1920px) {
					width: 430px;
					height: 210px;
				}
			}
			&::before {
				bottom: 0;
				left: 0;
			}
			&::after {
				top: 0;
				right: -300px;
				transform: rotate(180deg);
				@media (max-width: 1920px) {
					right: -250px;
				}
			}
			.category-item-info,
			.category-item-pic {
				position: relative;
				z-index: 5;
			}
			.category-item-info {
				padding: 50px 60px;
				width: 45%;
				max-width: 45%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				height: 100%;
				@media (max-width: 1920px) {
					padding: 30px 40px;
					width: 50%;
					max-width: 50%;
				}
				@media (max-width: 1699px) {
					padding: 30px 25px;
				}
				@media (max-width: 1499px) {
					padding: 25px 20px;
				}
			}
			.category-item-pic {
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				width: 55%;
				max-width: 55%;
				@media (max-width: 1920px) {
					width: 50%;
					max-width: 50%;
				}
				> img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: top left;
				}
			}
			.category-item-title {
				color: $black;
				font-size: 2.8rem;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
				margin-bottom: 2rem;
				max-width: 450px;
				@media (max-width: 1920px) {
					margin-bottom: 1rem;
				}
				@media (max-width: 1699px) {
					font-size: 2.3rem;
				}
			}
			.categories-list {
				list-style: none;
				padding-left: 0;
				@media (max-width: 1699px) {
					margin-bottom: 2rem;
				}
				li {
					display: flex;
					align-items: center;
					gap: 15px;
					padding-top: 7px;
					padding-bottom: 7px;
					width: fit-content;
					.pointer {
						position: relative;
						width: 15px;
						height: 15px;
						border-radius: 50%;
						overflow: hidden;
						flex-shrink: 0;
						&::before,
						&::after {
							display: block;
							width: 15px;
							height: 15px;
							border: 1px solid $black;
							border-radius: 50%;
							content: "";
							transition: 0.2s ease;
						}
						&::after {
							position: absolute;
							left: 0;
							top: 50%;
							background-color: $black;
							transform: translate(-100%, -50%);
							z-index: 10;
						}
					}
					a {
						color: $black;
						font-size: 1rem;
						font-weight: 300;
						line-height: 1;
						// border-bottom: 1px solid rgba(0, 0, 0, 0);
						transition: 0.2s ease;
						flex-shrink: 1;

						// background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
						// background-position: 0 100%;
						// background-repeat: no-repeat;
						// display: inline;
						// padding-bottom: 3px;
						// display: inline;
						// background-size: 100% 2px;
					}
				}
				li:hover {
					a {
						// border-bottom: 1px solid $black;
						// background-image: linear-gradient($black,$black);
						text-decoration: underline;
						transition: 0.2s ease;
					}
					.pointer::after {
						transform: translate(0, -50%);
						transition: 0.2s ease;
					}
				}
			}
			.basic-button {
				margin-top: auto;
				font-size: 1.1rem;
				@media (max-width: 1499px) {
					font-size: 0.85rem;
				}
			}
		}
	}
	.category-item--brown {
		> .content {
			background-color: $black;
			&::after,
			&::before {
				display: none;
			}
			.category-item-title {
				color: $salad;
			}
			.categories-list {
				list-style: none;
				padding-left: 0;
				li {
					a {
						color: $salad;
					}
					.pointer {
						&::before,
						&::after {
							border: 1px solid $salad;
						}
						&::after {
							background-color: $salad;
						}
					}
				}
			}
			.basic-button {
				border-color: $salad;
				color: $salad;
				text-transform: lowercase;
				svg {
					path {
						stroke: $salad;
					}
				}
				&::after {
					background-color: $salad;
					transition: 0.2s ease;
				}
				&:hover {
					color: $font;
					> svg {
						path {
							stroke: $font;
						}
					}
				}
			}
		}
	}
	.category-item--green {
		> .content {
			background-color: $salad;
		}
	}
	.category-item--top {
		.category-item-pic {
			overflow: hidden;
			border-top-left-radius: 150px;
		}
	}
	.category-item--last {
		min-height: 400px;
		@media (max-width: 1920px) {
			min-height: 350px;
		}
	}
	.category-item--actual {
		> .content {
			display: flex;
			flex-direction: column;
			position: relative;
            padding-bottom: 30px;
			.category-item-info,
			.category-item-pic {
                position: relative;
				width: 100%;
				max-width: 100%;
                position: unset;
                z-index: 1;
			}
			.category-item-info{
                padding-bottom: 100px;
                z-index: 5;
            }
			.basic-button {
				position: absolute;
				bottom: 50px;
				left: 60px;
                z-index: 5;
				@media (max-width: 1920px) {
					left: 40px;
				}
				@media (max-width: 1699px) {
					left: 25px;
				}
				@media (max-width: 1499px) {
					width: max-content;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}
