.footer {
    .footer-wrapper {
        padding-top: 3.75rem;
        padding-bottom: 3.5rem;
        @media (max-width: 1399px) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        @media (max-width: 991px) {
            padding-top: 4rem;
            padding-bottom: 2rem;
        }
    }
    .footer-logo-wrapper {
        .logo {
            margin-bottom: 1.5rem;
            @media (max-width: 991px) {
                width: 291px;
                height: auto;
                margin-bottom: 3rem;
            }
            @media (max-width: 767px) {
                width: 250px;
                margin-bottom: 2rem;
            }
        }
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 1699px) {
            gap: 15px;
        }
        @media (max-width: 1499px) {
            gap: 10px;
        }
        @media (max-width: 1399px) {
            gap: 15px;
        }
        @media (max-width: 991px) {
            margin-bottom: 80px;
        }
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
        @media (max-width: 575px) {
            gap: 20px;
        }
        .social-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid rgb(218, 214, 214);
            border-radius: 50%;
            transition: 0.2s ease;
			@media (max-width: 1699px) {
                width: 35px;
                height: 35px;
            }
            @media (max-width: 1399px) {
                width: 40px;
                height: 40px;
            }
            > svg,
            > img {
                width: 16px;
                height: auto;
                transition: 0.2s ease;
            }
            &:hover {
                background-color: $salad;
                border-color: $salad;
                transition: 0.2s ease;
                > svg,
                > img {
                    transform: scale(1.15);
                    transition: 0.2s ease;
                }
            }
        }
    }
    .footer-menu {
        @media (min-width: 992px) {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
        nav > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
            @media (max-width: 2099px) {
                gap: 15px;
            }
            @media (max-width: 991px) {
                gap: 20px;
            }
        }
        .menu-item {
            line-height: 1;
            a {
                color: $black;
                font-size: 1.25rem;
                font-weight: 500;
                @media (max-width: 1920px) {
                    font-size: 1.2rem;
                }
                @media (max-width: 991px) {
                    font-size: 1.25rem;
                }
                @media (max-width: 575px) {
                    font-size: 1.35rem;
                }
                &:hover {
                    color: $salad_dark;
                }
            }
        }
    }
    .footer-contacts {
        @media (max-width: 991px) {
            margin-top: 3rem;
        }
        @media (max-width: 767px) {
            margin-top: 2rem;
        }
        .footer-contacts-item {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: $black;
            font-family: "Montserrat", sans-serif;
            margin-bottom: 2rem;
            .footer-contacts-itme-title {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                font-family: "Montserrat", sans-serif;
            }
            .large {
                color: $black;
                font-size: 1.25rem;
            }
            a {
                &:hover {
                    color: $salad_dark;
                }
            }
        }
        .footer-copyright {
            display: flex;
            gap: 40px;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 0;
            margin-top: 4.75rem;
			@media (max-width: 1699px) {
                margin-top: 3.5rem;
            }
            @media (max-width: 1399px) {
                gap: 10px;
            }
            @media (max-width: 991px) {
                align-items: center;
            }
            .dev {
                img {
                    transition: 0.5s ease;
                    @media (max-width: 991px) {
                        width: 35px;
                        height: 35px;
                    }
                }
                &:hover {
                    img {
                        transform: rotate(-360deg);
                        transition: 0.5s ease;
                    }
                }
            }
        }
        .basic-button {
            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }
}