.header {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 0.2s ease;
    .logo-wrapper {
        .logo {
            transition: 0.2s ease;
        }
    }
    .header-wrapper {
        align-items: center;
    }
    .top-menu-wrapper {
        .menu-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 60px;
            list-style: none;
            padding: 0;
            margin: 0;
            > li,
            .menu-item {
                > a {
                    color: white;
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1;
                    transition: 0.2s ease;
                    &:hover {
                        color: $salad;
                        transition: 0.2s ease;
                    }
                }
                &.dropdown {
                    > a.dropdown-toggle {
                        &[aria-expanded=true] {
                            color: $salad;
                        }
                    }
                }
                &.green {
                    > a {
                        background-color: $salad;
                        color: $black;
                        padding: 13px 30px;
                        border-radius: 80px;
                        &:hover {
                            background-color: white;
                        }
                    }
                }
            }
            .dropdown-menu.show {
                margin-top: 1rem !important;
                padding: 0;
                > li > a {
                    color: $font;
                    padding: 10px;
                    font-size: 1rem;
                    border-bottom: 1px solid rgba(32, 33, 34, 0.3);
                    &:hover {
                        color: $white;
                        background-color: $font;
                    }
                }
                > li:first-child,
                > li:last-child {
                    overflow: hidden;
                }
            }
        }
    }
}

.header--index {
    background-image: linear-gradient(180deg, rgba(46,42,42,1) 0%, rgba(46,42,42,0) 100%);
}

.navbar-toggler-wrapper {
    align-items: center;
}
.navbar-toggler {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    opacity: 0;
    transition: 0.2s ease;
    @media (max-width: 1920px) {
        width: 50px;
        height: 50px;
    }
    @media (max-width: 1499px) {
        width: 40px;
        height: 40px;
    }
    @media (max-width: 575px) {
        width: 40px;
        height: 40px;
    }
    &:hover {
        .navbar-toggler-icon,
        .navbar-toggler-icon::before,
        .navbar-toggler-icon::after {
            background-color: red;
        }
    }
    &:focus {
        box-shadow: unset;
    }
    &.show {
        opacity: 1;
    }
    .navbar-toggler-icon {
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 1.24px;
        @media (max-width: 1499px) {
            height: 4px;
        }
        @media (max-width: 767px) {
            height: 3px;
        }
    }
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: white;
        content: "";
        border-radius: 1.24px;
        @media (max-width: 1499px) {
            height: 4px;
        }
        @media (max-width: 767px) {
            height: 3px;
            border-radius: 1px;
        }
    }
    .navbar-toggler-icon::before {
        top: -16px;
        @media (max-width: 1920px) {
            top: -14px;
        }
        @media (max-width: 1499px) {
            top: -12px;
        }
        @media (max-width: 767px) {
            top: -10px;
        }
    }

    .navbar-toggler-icon::after {
        bottom: -16px;
        @media (max-width: 1920px) {
            bottom: -14px;
        }
        @media (max-width: 1499px) {
            bottom: -12px;
        }
        @media (max-width: 767px) {
            bottom: -10px;
        }
    }
}



.header.white {
    background-color: white;
    background-image: unset;
    box-shadow: 0px -3px 5px 2px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
    .logo-wrapper {
        .logo {
            filter: invert(1);
            transition: 0.2s ease;
        }
    }
    .top-menu-wrapper {
        .menu-list {
            > li,
            .menu-item {
                > a {
                    color: $font;
                    &:hover {
                        color: $font;
                        opacity: 0.7;
                    }
                }
                &.dropdown {
                    > a.dropdown-toggle {
                        &[aria-expanded=true] {
                            color: $font;
                        }
                    }
                }
                &.green {
                    > a {
                        background-color: $salad;
                        color: $black;
                        padding: 13px 30px;
                        border-radius: 80px;
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .dropdown .dropdown-toggle {
        &::after {
            content: url(../img/dropdown-arrow.png);
        }
        &:hover::after {
            content: url(../img/dropdown-arrow.png);
        }
        &[aria-expanded=true] {
            &::after {
                content: url(../img/dropdown-arrow.png);
            }
        }
    }
}