.header {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 0.2s ease;
    @media (max-width: 1199px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo-wrapper {
        .logo {
            transition: 0.2s ease;
            @media (max-width: 767px) {
                width: 200px;
            }
            @media (max-width: 575px) {
                width: 160px;
            }
        }
    }
    .header-wrapper {
        align-items: center;
    }
    .top-menu-wrapper {
        .menu-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 60px;
            list-style: none;
            padding: 0;
            margin: 0;
            @media (max-width: 1899px) {
                gap: 45px;
            }
			@media (max-width: 1699px) {
                gap: 30px;
            }
            @media (max-width: 1399px) {
                gap: 25px;
            }
            > li,
            .menu-item {
                > a {
                    color: white;
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1;
                    transition: 0.2s ease;
                    @media (max-width: 1699px) {
                        font-size: 1.1rem;
                    }
                    @media (max-width: 1499px) {
                        font-size: 1rem;
                    }
                    @media (max-width: 1399px) {
                        font-size: 0.85rem;
                    }
                    &:hover {
                        color: $salad;
                        transition: 0.2s ease;
                    }
                }
                &.dropdown {
                    > a.dropdown-toggle {
                        &[aria-expanded=true] {
                            color: $salad;
                        }
                    }
                }
                &.green {
                    > a {
                        background-color: $salad;
                        color: $black;
                        padding: 13px 30px;
                        border-radius: 80px;
                        @media (max-width: 1699px) {
                            padding: 10px 20px;
                        }
                        &:hover {
                            background-color: white;
                        }
                    }
                }
            }
            .dropdown-menu.show {
                margin-top: 1rem !important;
                padding: 0;
                > li > a {
                    color: $font;
                    padding: 10px;
                    font-size: 1rem;
                    border-bottom: 1px solid rgba(32, 33, 34, 0.3);
                    &:hover {
                        color: $white;
                        background-color: $font;
                    }
                }
                > li:first-child,
                > li:last-child {
                    overflow: hidden;
                }
            }
        }
    }
}

.header--index {
    background-image: linear-gradient(180deg, rgba(46,42,42,1) 0%, rgba(46,42,42,0) 100%);
}

.navbar-toggler-wrapper {
    height: 100%;
    > a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        height: 100%;
        color: white;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1;
        @media (max-width: 767px) {
            font-size: 1.35rem;
        }
        &:hover {
            color: $salad_dark;
        }
    }
}
.navbar-toggler {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    opacity: 0;
    transition: 0.2s ease;
    @media (max-width: 1920px) {
        width: 50px;
        height: 50px;
    }
    @media (max-width: 1499px) {
        width: 40px;
        height: 40px;
    }
    @media (max-width: 575px) {
        width: 40px;
        height: 40px;
    }
    &:hover {
        .navbar-toggler-icon,
        .navbar-toggler-icon::before,
        .navbar-toggler-icon::after {
            background-color: red;
        }
    }
    &:focus {
        box-shadow: unset;
    }
    &.show {
        opacity: 1;
    }
    .navbar-toggler-icon {
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 1.24px;
        @media (max-width: 1499px) {
            height: 4px;
        }
        @media (max-width: 767px) {
            height: 3px;
        }
    }
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: white;
        content: "";
        border-radius: 1.24px;
        @media (max-width: 1499px) {
            height: 4px;
        }
        @media (max-width: 767px) {
            height: 3px;
            border-radius: 1px;
        }
    }
    .navbar-toggler-icon::before {
        top: -16px;
        @media (max-width: 1920px) {
            top: -14px;
        }
        @media (max-width: 1499px) {
            top: -12px;
        }
        @media (max-width: 767px) {
            top: -10px;
        }
    }

    .navbar-toggler-icon::after {
        bottom: -16px;
        @media (max-width: 1920px) {
            bottom: -14px;
        }
        @media (max-width: 1499px) {
            bottom: -12px;
        }
        @media (max-width: 767px) {
            bottom: -10px;
        }
    }
}



.header.white {
    background-color: white;
    background-image: unset;
    box-shadow: 0px -3px 5px 2px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
    .logo-wrapper {
        .logo {
            filter: invert(1);
            transition: 0.2s ease;
        }
    }
    .top-menu-wrapper {
        .menu-list {
            > li,
            .menu-item {
                > a {
                    color: $font;
                    &:hover {
                        color: $font;
                        opacity: 0.7;
                    }
                }
                &.dropdown {
                    > a.dropdown-toggle {
                        &[aria-expanded=true] {
                            color: $font;
                        }
                    }
                }
                &.green {
                    > a {
                        background-color: $salad;
                        color: $black;
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .navbar-toggler-wrapper {
        > a {
            color: $black;
            &:hover {
                color: $salad_dark;
            }
        }
    }
    .dropdown .dropdown-toggle {
        &::after {
            // content: url(../img/dropdown-arrow.png);
            content: "";
            background-image: url(../img/dropdown-arrow-white.png);
        }
        &:hover::after {
            // content: url(../img/dropdown-arrow.png);
            content: "";
            background-image: url(../img/dropdown-arrow-white.png);
        }
        &[aria-expanded=true] {
            &::after {
                // content: url(../img/dropdown-arrow.png);
                content: "";
                background-image: url(../img/dropdown-arrow-white.png);
            }
        }
    }
}

@media (max-width: 991px) {
    .header-menu--mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 115px;
        padding-left: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        .logo--mobile {
            width: 250px;
            height: 55px;
        }
        .close-menu-button {
            height: 100%;
            background-color: unset;
            border: unset;
            outline: unset;
            color: $white;
            font-size: 1.25rem;
            font-weight: 500;
            padding: 30px;
        }
    }
    .mm-ocd__backdrop {
        z-index: -1;
    }
    .mm-ocd--open .mm-ocd__content {
        width: 65%;
        max-width: 65%;
        // top: 115px;
    }
    .mm-spn.mm-spn--navbar ul {
        // top: 165px;
        top: 215px;
    }
    // .mm-spn ul {
    //     padding-right: 0;
    // }
    .mm-spn.mm-spn--navbar ul:before {
        left: 0;
        border-top: 1px solid #ffffff;
        // height: 1px;
        // background-color: #ffffff;
        opacity: 0.4;
    }
    .mm-spn.mm-spn--navbar.mm-spn--main:after,
    .mm-spn.mm-spn--navbar:after {
        top: 115px;
        height: 100px;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        color: $white;
        opacity: 1;
        white-space: normal;
        text-align: left;
    }
    .mm-spn.mm-spn--navbar:before {
        top: 165px;
        color: $white;
        opacity: 1;
    }
    .mm-spn span,
    .mm-spn .nav-link {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 1.25rem;
        font-weight: 400;
        color: $white;
    }
    .mm-spn li:after {
        margin-left: 0;
        background-color: $white;
        border-top: 1px solid $white;
        opacity: 0.4;
    }
    .mm-spn li:before {
        top: 50%;
        background-color: $white;
        border-radius: 50%;
        opacity: 1;
        z-index: 1;
    }
}
@media (max-width: 767px) {
    .mm-ocd--open .mm-ocd__content {
        width: 85%;
        max-width: 85%;
    }
    .header-menu--mobile {
        padding-left: 20px;
        .logo--mobile {
            width: 200px;
            height: 43px;
        }
        .close-menu-button {
            padding: 20px;
        }
    }
    .mm-spn span,
    .mm-spn .nav-link {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 575px) {
    .mm-ocd--open .mm-ocd__content {
        width: 100%;
        max-width: 100%;
    }
    .header-menu--mobile {
        padding-left: 15px;
        height: 85px;
        .logo--mobile {
            width: 160px;
            height: 35px;
        }
        .close-menu-button {
            font-size: 1.35rem;
            padding: 15px;
        }
    }
    .mm-spn.mm-spn--navbar.mm-spn--main:after,
    .mm-spn.mm-spn--navbar:after {
        height: 85px;
        top: 85px;
    }
    .mm-spn.mm-spn--navbar:before {
        top: 128px;
    }
    .mm-spn.mm-spn--navbar ul {
        top: 170px;
    }
}