.index-about {
    position: relative;
    height: 1100px;
    background-image: url(../img/about_slide_desktop_full.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media (max-width: 1920px) {
        height: 850px;
    }
    @media (max-width: 1499px) {
        height: 700px;
    }
    @media (max-width: 767px) {
        height: 600px;
    }
    @media (max-width: 575px) {
        background-image: linear-gradient(180.00deg, rgb(51, 27, 17) 0.399%,rgba(51, 27, 17, 0) 35.731%), url(../img/about_slide_desktop_full.jpg);
    }
    .index-about-bg {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    > .container {
        height: 100%;
    }
    .index-about-fader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .index-about-content {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        z-index: 10;
        width: 100%;
        height: 100%;
        padding-top: 5rem;
        padding-bottom: 4rem;
        color: $white;
        @media (max-width: 1499px) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        @media (max-width: 575px) {
            padding-top: 2.5rem;
        }
        .index-about-content-top,
        .index-about-content-bottom {
            width: 100%;
        }
        .index-about-content-top {
            .basic-title {
                color: white;
                font-family: "Montserrat", sans-serif;
                text-transform: unset;
                max-width: 35%;
                font-size: 3.75rem;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 3rem;
                @media (max-width: 1920px) {
                    max-width: 45%;
                }
                @media (max-width: 1399px) {
                    max-width: 60%;
                }
                @media (max-width: 991px) {
                    max-width: 80%;
                }
                @media (max-width: 575px) {
                    font-size: 3rem;
                    max-width: 100%;
                    margin-bottom: 2rem;
                }
            }
        }
        .index-about-preview {
            max-width: 400px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            @media (max-width: 1920px) {
                max-width: 500px;
            }
        }
        .index-about-content-bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .index-about-logo {
                opacity: 0.3;
                @media (max-width: 1920px) {
                    width: 350px;
                    height: auto;
                }
                @media (max-width: 991px) {
                    width: 300px;
                }
                @media (max-width: 767px) {
                    width: 250px;
                }
                @media (max-width: 575px) {
                    display: none;
                }
            }
            .basic-button {
                @media (max-width: 575px) {
                    width: 100%;
                }
            }
        }
    }
}