.relise-projects {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    border-top: 1px solid rgba(46, 42, 42, 0.2);
    @media (max-width: 1920px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    @media (max-width: 1199px) {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
    @media (max-width: 991px) {
        border-top: 0;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .relise-projects-wrapper {
        .basic-title {
            font-family: "Montserrat", sans-serif;
            font-size: 5.5rem;
            font-weight: 700;
            line-height: 1;
            text-transform: unset;
            position: relative;
            width: min-content;
            @media (max-width: 1199px) {
                font-size: 4.5rem;
            }
            @media (max-width: 991px) {
                font-size: 3.75rem;
            }
            .counter {
                position: absolute;
                top: 0;
                right: -30px;
                font-family: "Montserrat", sans-serif;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1;
                @media (max-width: 991px) {
                    right: -40px;
                }
            }
        }
    }
}