$salad: #d9f23f;
$salad_dark: #bbd134;
$white: #ffffff;
$black: rgb(46, 42, 42);
$font: rgb(32, 33, 34);
$red: rgb(227, 30, 36);

$left-offset-desktop-large: calc((100vw - 2078px) / 2);
$left-offset-desktop-stanadart: 10%;